.address {
  font-style: $mainfont-style;
  font-weight: $main-font-weight;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0px;
  }

  &__text {
    margin-bottom: 8px;

    color: var(--primary-white-color);

    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }

  &__item:first-child {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__item {
      display: flex;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    font-weight: $third-font-weight;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--address-color);

    transition-property: color;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--animation-timing-function);
    transition-delay: var(--animation-delay);
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
}
