.clients {
  &__title {
    margin-bottom: 30px;

    font-weight: $secondary-weight-bold;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--maine-title-color);

    @media screen and (min-width: $desktop) {
      font-size: 36px;
      line-height: 1.17;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -15px;

    // @media screen and (max-width: 767px) {
    //   & {
    //     width: 480px;
    //   }
    // }
  }
}
