.conacts {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-bottom: 64px;
  // margin-left: auto;
  // align-items: center;

  // &__item {
  //   // justify-content: center;
  //   // align-items: center;
  // }

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }

  &__item:hover,
  &__item:focus {
    color: var(--accent-color);
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 32px;

    // @media screen and (max-width: 767px) {
    //   flex-direction: column-reverse;
    // }

    @media screen and (min-width: $tablet) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 0px;
      margin-right: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    .contacts__item:last-child {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: $tablet) {
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 84px;

    align-items: flex-start;
  }

  @media screen and (min-width: $desktop) {
    & {
      display: flex;
      flex-direction: inherit;
      align-items: center;
      padding-left: 305px;
    }
  }
  .contacts__link {
    display: flex;
    align-items: center;

    // font-weight: $third-font-weight;
    // font-size: 14px;
    // line-height: 16px;
    // letter-spacing: 0.02em;
    // color: var(--maine-text-color);
  }
}

// .contacts__link:nth-child(1) {
//   font-weight: $third-font-weight;
//   font-size: 34px;
//   line-height: 1.18;
//   letter-spacing: 0.02em;
// }

.contacts__link {
  font-weight: $third-font-weight;

  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--maine-text-color);

  transition-property: color;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--animation-timing-function);
  transition-delay: var(--animation-delay);

  @media screen and (max-width: 767px) {
    display: flex;

    .contacts__link--accent {
      font-weight: $third-font-weight;
      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: baseline;

    font-weight: $third-font-weight;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: $desktop) {
    font-weight: $third-font-weight;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}

.contacts__icon {
  display: none;
  margin-right: 10px;
  fill: var(--maine-text-color);

  transition-property: fill;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--animation-timing-function);
  transition-delay: var(--animation-delay);

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.contacts__icon {
  justify-content: center;
  align-items: center;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: $desktop) {
    font-weight: $third-font-weight;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.header-socials__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: $third-font-weight;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-color);

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header-socials__link {
  font-weight: $third-font-weight;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.header-socials__item:not(:last-child) {
  margin-right: 10px;
}

.header-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

// .header-socials__link {
// }
