.features {
  &__item {
    width: 450px;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--maine-background-color);
    border-radius: 4px;
    width: 450px;
    height: 120px;
  }

  &__description {
    margin-bottom: 10px;
    text-align: center;
    font-weight: $secondary-weight-bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--maine-title-color);
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
