.features {
  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--maine-background-color);
    border-radius: 4px;
    height: 120px;
  }

  &__description {
    margin-bottom: 10px;
    text-align: center;
    font-weight: $secondary-weight-bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--maine-title-color);
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  @media screen and (min-width: $tablet) {
    .features__list {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: -15px;
    }
    &__item {
      width: 354px;

      &:first-child {
        margin-bottom: 30px;
      }

      width: calc((100% - 4 * 15px) / 2);
    }

    &__description {
      text-align: start;
    }
  }

  @media screen and (min-width: $desktop) {
    .features {
      &__list {
        display: flex;
      }

      .features__item + .features__item {
        margin-left: 30px;
      }

      &__item {
        width: 270px;
      }

      &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        background-color: var(--maine-background-color);
        border-radius: 4px;
        width: 270px;
        height: 120px;
      }

      &__description {
        margin-bottom: 10px;

        font-weight: $secondary-weight-bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--maine-title-color);
        text-align: start;
      }

      &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
      }
    }
  }
}
